**/.DS_Store
**/.idea
**/.vscode
**/node_modules/
**/dist/
**/.env
**/.env.*
!**/.env.example

**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log

**/*.log

# Docs / interview guides
*.pdf
*.docx
